@{
    var gelenId0 = ViewData["id0"];
    var gelenId1 = ViewData["id1"];
    var gelenId2 = ViewData["id2"];
    var gelenId3 = ViewData["id3"];
    var gelenId4 = ViewData["id4"];
    var gelenId5 = ViewData["id5"];
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@gelenId0</p>
    <p>@gelenId1</p>
    <p>@gelenId2</p>
    <p>@gelenId3</p>
    <p>@gelenId4</p>
    <p>@gelenId5</p>
</div>
